.article {
  padding: 20px;
}

.article__title {
  text-align: center;
  margin-top: 15px;
}

.article__glava {
  margin-top: 40px;
  text-align: justify;
}

.article__statya {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: justify;
}

.article__text {
  text-align: justify;
  text-indent: 40px;
}
